*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #D39AFE;
	font-family: 'Courgette'; font-size: 35px;
	color: #22032b;
	margin: 0;
}
header{
	background-color: #290334;
	width: 100%;
	height: 120px;
	position: fixed;
	top: 0;
  	overflow: hidden;
}
ul{
	list-style-type: none;
	margin-top: 28px;
	float: right;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	letter-spacing: 0.02em;
	color: #CB86FF;
	float: right;
	font-weight: bold;
	font-size: 40px;
	border: 3.5px solid #D39AFE;
	border-radius: 75px;
	padding: 3px 15px;
	transition: 0.5s ease;
}
ul li a:hover{
	background-color: #D39AFE;
	color: #290334;
}
.main{
	max-width: 1200px;
	margin: auto;
}
.main h1{
	float: left;
	margin-top: 10px;
	font-family: 'Cookie';font-size: 80px;
	font-style: italic;
	letter-spacing: 0.03em;
	color: #cb86ff;
}
/*mark{
	background-color: #290334;
	color: #CB86FF;
	border-radius: 25px;
	padding: 15px; 
}*/
/*font-family: 'Caveat Brush';font-size: 80px;*/
/*#main-head{
	
	position: fixed;
	background-color: #290334;
	width: 100%;
	
	
  	padding: 4px 0 15px 0;
  	overflow: hidden;
  	float: 
  	top: 0;
  	display: block;
  	
}

.head ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #290334;
}
.head li {
  float: left;
  top: 0;
}*/

/*.head li h1 {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}*/
/*
.clr::after{
  content: "";
  clear: both;
  display: table;
}
.head li h1{
	margin: 0;
	font-family: 'Cookie';font-size: 80px;
	font-style: italic;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	letter-spacing: 0.03em;
	float: left;
	left: 0;
	color: #cb86ff;
	box-sizing: border-box;
	width: 100%;
}
.head li a{
	color: #CB86FF;
	float: right;
	font-size: 40px;
	display: inline-block;
	width: 100%;
	font-weight: bold;
	border-radius: 25px;
	padding: 15px;*/

	/*margin-top: 10px; (discarded)*/
	/*margin-right: 15px;*/
	/*position: fixed;*/
	/*
	right: 0;
	text-decoration: none;
	box-sizing: border-box;
}
li a:hover {
  background-color: #3E1155;
}*/
.big{
	padding-left: 15px;
	margin: 50px 0 0 20px;
}
.short p{
	font-family: 'PT Sans';font-size: 35px;
	font-style: italic;
	letter-spacing: -0.003em;
	margin-top: 50px;
	margin-bottom: 25px;
	text-align: center;
}
form {
  border: 3px solid #EFA4FF;
}
.container {
  padding: 20px;
  background-color: #EFA4FF;
  box-shadow: 4px 4px 25px 5px #EFA4FF;
  box-shadow: -4px -4px 25px 5px #EFA4FF;
}
.container p{
	font-size: 37px;
}
input[type=text], input[type=submit] {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #F7A6FF;
  box-sizing: border-box;
}	

input[type=submit] {
  background-color: #695BA7;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}
.news h2{
	margin: 10px;
	border: 2px 0;
}
.links ins{
	font-weight: bold;
	padding-top: 15px;
	padding-left: 23px;
}
.links iframe{
	padding-top: 15px;
	padding-left: 31px;
}
